* {
  box-sizing: border-box;
  margin: 0;  /* Borra los margenes*/
  padding: 0; /* Borra los rellenos*/
}

body {
  background-color: #0f172a;
  color: #f8fafc;
  font-family: system-ui, -apple-system, sans-serif;
}


